@charset "utf-8";
/* ===================================================================
CSS information

file name  : contact.css
author     : Abilive
style info : お問い合わせ
=================================================================== */
@import "settings";

// con_form
.con_form {
    width: 100%;
    @include cV(margin-top, wCon(45, 1920), wCon(45, 1100), 2.5em);

    .box_int {
        @extend %bw;
        background: $color4;
        @include cV(margin-top, 2.5em, 2em, 1.5em);

        @include mq(pc_tab) {
            padding: 40px wCon(78, 1920);
            display: table;
        }

        @include mq(sp) {
            padding: 1.5em;
        }

        .txt {
            @extend %jp_b1;
            @include cV(margin-right, 1.5em, 0);

            @include mq(pc_tab) {
                display: table-cell;
                vertical-align: middle;
            }
        }

        .btn {
            @include mq(pc_tab) {
                width: 200px;
                display: table-cell;
                vertical-align: middle;
            }

            @include mq(sp) {
                width: 100%;
                margin-top: .8em;
            }
        }
    }

    .box_note {
        @extend %bw;
        @include cV(margin-top, 2.5em, 2em, 1.5em);
        @extend %jp_b2;
        @include cV(padding, 1.5em, 1em);
        border: 1px solid $color3;

        li {
            text-indent: -.5em;
            padding-left: .5em;
        }
    }

    .box_flow {
        @extend %bw;
        text-align: center;
        @include cV(margin-top, 75px, 45px, 2.5em);
        @include cV(padding-top, 15px, 1em);

        li {
            @extend %jp_b1;
            display: inline-block;
            width: wCon(220, 1100);
            color: #313131;
            position: relative;
            text-align: center;
            padding-bottom: 1em;

            @include mq(tab) {
                width: 25%;
            }

            @include mq(sp) {
                width: 30%;
                white-space: nowrap;
                vertical-align: top;
            }

            i {
                display: block;
            }

            &:not(:last-child) {
                position: relative;

                @include icon($右矢印, after) {
                    position: absolute;
                    top: 50%;
                    line-height: 1;
                    right: -.5em;
                    color: $color3;
                    @include fsz-cha(20, 19, 18);

                    @include mq(pc_tab) {
                        margin-top: -.5em;
                    }

                    @include mq(sp) {
                        top: 1em;
                        right: -1em;
                    }
                }
            }

            &.active {
                color: $color1;
                font-weight: bold;
                position: relative;

                &:before {
                    content: '';
                    width: 50%;
                    height: 1px;
                    border-bottom: 2px solid $color1;
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                }
            }
        }
    }

    .box_form {
        @extend %bw;
        margin-top: wCon(40, 1100);
        text-align: center;

        @include mq(sp) {
            margin-top: 1.5em;
        }

        i {
            color: #b70000;
            display: inline-block;
            vertical-align: middle;
            padding: .1em .3em .4em;
        }

        .error {
            color: #b70000;
        }

        .txt_attention {
            @extend %jp_b2;
            margin-bottom: .8em;
            text-align: left;
        }

        table {
            border-top: 1px solid #e5e5e5;
            width: 100%;

            @include mq(sp) {
                border: 1px solid #e5e5e5;
                border-bottom: none;
            }

            tr {

                th,
                td {
                    padding: 1em 1.5em;
                    font-weight: normal;

                    @include mq(sp) {
                        width: 100%;
                        display: block;
                        padding: .8em;
                    }
                }

                th {
                    background: $color4;
                    border-bottom: 1px solid #fff;
                    @include cV(width, 360px, 315px, 100%);
                    padding-left: 2.5em;
                    position: relative;

                    i {
                        position: absolute;
                        top: 50%;
                        left: 1em;
                        transform: translateY(-50%);
                        padding: 0;
                    }
                }

                td {
                    @extend %jp_b2;
                    border-bottom: 1px solid #e5e5e5;
                    text-align: left;

                    >div {
                        &:not(:last-child) {
                            margin-bottom: .5em;
                        }
                    }

                    input[type="text"] {
                        @include reset;
                        padding: .5em 1.5em .7em;
                        border: 1px solid #dadada;

                        &::placeholder {
                            color: #c7c7c7;
                        }

                        @include mq(sp) {
                            font-size: 16px;
                            padding: .5em .5em .7em;
                        }
                    }

                    input[type="radio"] {
                        margin-right: .2em;
                    }

                    label {
                        margin-right: 1em;
                    }

                    select {
                        padding: .5em 1.5em .7em;
                        display: block;
                        @include cV(height, 40px, 2.7em);
                        border: 1px solid #dadada;
                        padding-right: 1.5em;
                        width: 100%;

                        option {
                            outline: none;
                        }

                        @include mq(sp) {
                            font-size: 16px;
                            padding: .5em .5em .7em;
                        }
                    }

                    textarea {
                        @include reset;
                        padding: .5em 1.5em .7em;
                        width: 100%;
                        border: 1px solid #dadada;

                        &::placeholder {
                            color: #c7c7c7;
                        }

                        @include mq(sp) {
                            font-size: 16px;
                            padding: .5em .5em .7em;
                        }
                    }

                    .s {
                        width: 25%;
                        max-width: 120px;

                        @include mq(sp) {
                            width: 20%;
                        }
                    }

                    .m {
                        width: 100%;
                        max-width: 750px;
                    }

                    .l {
                        width: 100%;
                        max-width: 500px;
                    }
                }

                &.style1 {
                    td {
                        @include mq(pc_tab) {
                            padding: 1em 1em 1.5em 3em;
                        }

                        >* {
                            display: inline-block;
                            vertical-align: middle;
                        }

                        label {
                            position: relative;
                            line-height: 20px;
                            height: 20px;
                            cursor: pointer;
                            white-space: nowrap;
                            margin-right: .5em;

                            @include mq(sp) {
                                width: 2em;
                            }

                            input {
                                @include reset();
                                background: #fff;
                                border: 1px solid #e5e5e5;
                                position: relative;
                                padding: 0;
                                width: 1.4em;
                                height: 1.4em;
                                cursor: pointer !important;

                                @include mq(sp) {
                                    width: 1.5em;
                                    height: 1.5em;
                                    display: block;
                                    margin: 0 auto;
                                }

                                &:before {
                                    content: '';
                                    position: absolute;
                                    z-index: 1;
                                    top: -0.2rem;
                                    left: 0rem;
                                    width: 1.2rem;
                                    height: 0.8rem;
                                    transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
                                    transform: rotate(-45deg) scale(0, 0);
                                    border: 3px solid $c1;
                                    border-top: none;
                                    border-right: none;

                                    @include mq(sp) {
                                        top: .2em;
                                        left: .1em;
                                        width: 1em;
                                        height: .4em;
                                        border-width: 2px;
                                    }
                                }

                                &:checked:before {
                                    transform: rotate(-45deg) scale(1, 1);
                                }
                            }
                        }

                        p {
                            @include mq(sp) {
                                width: calc(100% - 4em);
                            }
                        }
                    }
                }
            }
        }

        .wrp_attention {
            margin-top: 1.5em;
            margin-left: 1em;
            text-align: left;
            @extend %jp_b2;

            @include mq(sp) {
                margin-left: 0;
            }
        }

        .wrp_btn {
            margin-top: wCon(32, 1100);
            text-align: center;

            @include mq(sp) {
                margin-top: 1em;
            }

            p {
                @include mq(pc_tab) {
                    display: inline-block;
                    max-width: 290px;
                    width: 50%;
                }

                @include mq(sp) {
                    width: 80%;
                    margin: .5em auto 0;
                }

                span {
                    position: relative;

                    @include icon($右矢印, after) {
                        position: absolute;
                        top: 50%;
                        margin-top: -.5em;
                        right: 1em;
                    }
                }

                &#js_back {
                    span {
                        @include icon($左矢印, after) {
                            position: absolute;
                            top: 50%;
                            margin-top: -.5em;
                            left: 1em;
                            right: auto;
                        }
                    }
                }
            }
        }
    }

    .box_thanks {
        @extend %bw;
        margin-top: wCon(50, 1100);
        text-align: center;

        .st {
            @extend %jp_h3;
        }

        .wrp_txt {
            @extend %jp_b1;
            @include cV(margin-top, 1.5em, 1em);

            @include mq(sp) {
                text-align: left;
            }
        }

        .btn {
            margin: 0 auto;

            @include mq(pc_tab) {
                margin-top: 1.5em;
                width: 50%;
                max-width: 290px;
            }

            @include mq(sp) {
                margin-top: 1em;
            }
        }
    }
}