@charset "utf-8";
/* ===================================================================
CSS information

file name  : default.css
author     : Abilive
style info : 汎用リセット記述
=================================================================== */
html,
article,
aside,
audio,
blockquote,
body,
dd,
dialog,
div,
dl,
dt,
fieldset,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
input,
li,
mark,
menu,
nav,
ol,
p,
pre,
section,
td,
textarea,
th,
time,
ul,
video,
main {
	margin: 0;
	padding: 0;
	word-wrap: break-word;
	overflow-wrap: break-word;
	font-feature-settings: "palt";
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
	font-style: normal;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption,
th {
	text-align: left;
}

q:after,
q:before {
	content: "";
}

embed,
object {
	vertical-align: top;
}

hr,
legend {
	display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
}

abbr,
acronym,
fieldset,
img {
	border: 0;
}

li {
	list-style-type: none;
}

sup {
	vertical-align: super;
	font-size: 0.5em;
}

img {
	vertical-align: top;
}

i {
	font-style: normal;
}

svg {
	vertical-align: middle;
}

article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section,
main {
	display: block;
}

nav,
ul {
	list-style: none;
}
