@charset "utf-8";
/* ===================================================================
CSS information

file name : reserves_dt4.css
author     : abilive
style info : 宿泊予約システム　デザインカスタマイズ　2019/08/02版
=================================================================== */

/* ====================================
	予約システム　共通
	#ypro_wrapper
==================================== */
/* 予約システム幅 */
#ypro_wrapper {
	width: 980px;
}

/* デザインカスタマイズ適用時に、予約システム側の文字サイズが大きい場合は以下適用 */
#ypro_wrapper {
	font-size: 100%;
}

/* 書体設定 */
#ypro_wrapper {
	font-family: "メイリオ", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Meiryo, sans-serif;
}

/* -----------------------------------------------------------
	ログインバー
	.ypro_login_button
----------------------------------------------------------- */
#ypro_wrapper {
	.ypro_login_button {
		.inner {
			// ログインバー背景色（ログイン中）
			&.bg_login {
				background: #4c7291;
			}
			// ログインバー背景色（ログアウト中）
			&.bg_logout {
				background: #414141;
			}
			p {
				// ログインボタン（背景色）
				&.btn_login {
					background: #4c7291;
					&:hover {
						background: #136ab5;
					}
				}
				// ログアウトボタン（背景色）
				&.btn_logout {
					&:hover {
						background: #414141;
					}
				}
			}
		}
	}
}

/* -----------------------------------------------------------
	各種ボタン
	.ypro_btn_style
----------------------------------------------------------- */
/* ボタン基本形 */
#ypro_wrapper {
	.ypro_btn_style {
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	}
}

/* 色指定（白）※「前の画面に戻る」等 */
#ypro_wrapper {
	.ypro_btn_style {
		&.btn_plain {
			color: #000;
			border: 1px solid #a0a0a0;
			background-color: #fff;
			&:link,
			&:visited,
			&:active {
				color: #000;
			}
			&:hover {
				color: #000;
				background-color: darken(#fff, 8%);
			}
		}
	}
}

/* 色指定（青）※「確認画面」「続きを読む」「カレンダー表示」ボタン等 */
#ypro_wrapper {
	.ypro_btn_style {
		&.btn_default {
			color: #fff;
			border: 1px solid #136ab5;
			background-color: #136ab5;
			&:link,
			&:visited,
			&:active {
				color: #fff;
			}
			&:hover {
				color: #fff;
				background-color: darken(#136ab5, 5%);
			}
		}
	}
}

/* 色指定（赤）※予約ボタン等 */
#ypro_wrapper {
	.ypro_btn_style {
		&.btn_important {
			color: #fff;
			border: 1px solid #d41a1a;
			background-color: #d41a1a;
			&:link,
			&:visited,
			&:active {
				color: #fff;
			}
			&:hover {
				color: #fff;
				background-color: darken(#d41a1a, 5%);
			}
		}
	}
}

/* 色指定（橙）※予約フォームの「ログイン画面へ」ボタン等 */
#ypro_wrapper {
	.ypro_btn_style {
		&.btn_member {
			color: #fff;
			border: 1px solid #ec6f00;
			background-color: #ec6f00;
			&:link,
			&:visited,
			&:active {
				color: #fff;
			}
			&:hover {
				color: #fff;
				background-color: darken(#ec6f00, 5%);
			}
		}
	}
}

/* ====================================
	プラン一覧、部屋一覧、プラン詳細、カテゴリ一覧等

==================================== */
/* -----------------------------------------------------------
	「おすすめ順、料金が安い順、料金が高い順」ボタン
	.ypro_sort_button
----------------------------------------------------------- */
#ypro_wrapper {
	.ypro_sort_button {
		p {
			background-color: #e9e9e9;
			&.active {
				color: #fff;
				background-color: #414141;
			}
			a {
				&:hover {
					color: #fff;
					background-color: #414141;
				}
			}
		}
	}
}

/* -----------------------------------------------------------
	プラン・部屋　切替えタブ
	.ypro_wrp_tab_button
----------------------------------------------------------- */
/* タブ選択時の上部ライン */
#ypro_wrapper {
	.ypro_wrp_tab_button {
		li {
			&.active {
				a {
					border-top: 2px solid #a0a0a0;
				}
			}
		}
	}
}

/* -----------------------------------------------------------
	ページ送りボタン
	.ypro_pagination
----------------------------------------------------------- */
#ypro_wrapper {
	.ypro_pagination {
		ul {
			li {
				a {
					&:hover,
					&:active {
						background-color: #414141;
					}
				}
				// 前へ
				&.prev {
					a {
						&:hover {
							background-color: #414141;
						}
					}
				}
				// 次へ
				&.next {
					a {
						&:hover {
							background-color: #414141;
						}
					}
				}
				&.active {
					background: #414141;
				}
			}
		}
	}
}

/* -----------------------------------------------------------
	プラン名、見出し等
	.ypro_st　.ypro_list
----------------------------------------------------------- */
/* 共通 */
#ypro_wrapper {
	.ypro_st {
		color: #fff;
		background: #414141;
	}
}

/* 「空室検索」見出し */
#ypro_wrapper {
	.ypro_search_box {
		.ypro_st {
			background: #414141;
		}
	}
}

/* 「プラン一覧から選ぶ」見出し */
#ypro_wrapper {
	.ypro_list {
		&.ypro_package_list {
			.ypro_st {
				background: #414141;
			}
		}
	}
}

/* 「部屋一覧から選ぶ」見出し */
#ypro_wrapper {
	.ypro_list {
		&.ypro_room_list {
			.ypro_st {
				background: #414141;
			}
		}
	}
}

/* -----------------------------------------------------------
	料金カレンダー部分
	.box_calendar
----------------------------------------------------------- */
/* 「大人1名様あたりの料金」プルダウン */
#ypro_wrapper {
	.box_calendar {
		.ypro_tbl_cal {
			thead {
				.cal_num {
					dd {
						select {
							background-color: #def6ff;
						}
					}
				}
			}
		}
	}
}

/* 「前の期間」「後の期間」ボタン */
#ypro_wrapper {
	.box_calendar {
		.ypro_tbl_cal {
			thead {
				.cal_btn {
					p {
						a {
							background-color: #4c7291;
							&:hover {
								background-color: #136ab5;
							}
						}
					}
				}
			}
		}
	}
}

/* -----------------------------------------------------------
	プラン詳細ページ　1ヶ月空室カレンダー
	.ypro_package_detail
----------------------------------------------------------- */
/* 「1泊1室●名様ご利用時」のプルダウン */
#ypro_wrapper {
	.ypro_package_detail {
		.box_calendar {
			.wrp_cal {
				.inner {
					.cal_num {
						li {
							&.num {
								select {
									background-color: #def6ff;
								}
							}
						}
					}
				}
			}
		}
	}
}

/* 1ヶ月カレンダー（複数部屋表示）部屋選択時の背景色・枠色 */
#ypro_wrapper {
	.ypro_package_detail {
		.box_calendar {
			.wrp_cal_list {
				.room_list {
					ul {
						li {
							a {
								&:hover,
								&.active {
									background-color: #d9f4ff;
									border: 2px solid #4c7291;
									&::before {
										border-color: transparent transparent transparent #4c7291;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

/* ====================================
	予約フォーム

==================================== */
/* -----------------------------------------------------------
	ステップナビゲーション（内容入力・内容確認・予約完了）
	.ypro_step_navi
----------------------------------------------------------- */
#ypro_wrapper {
	.ypro_step_navi {
		text-align: center;
		ul {
			li {
				&:before {
				}
				&:after {
				}
				&.active {
					background: #414141;
				}
			}
		}
	}
}

/* -----------------------------------------------------------
	予約フォーム（入力画面、確認画面）
	.ypro_form
----------------------------------------------------------- */
/* 予約フォーム（入力画面、確認画面のコンテンツ大見出し） */
#ypro_wrapper {
	.ypro_st_form {
		color: #fff;
		background: #4c7291;
	}
}

/* 予約フォーム（パーツ等の中見出し） */
#ypro_wrapper {
	.ypro_st_form_parts {
		color: #fff;
		background: #656565;
	}
}

/* 料金表、見積表　合計金額の背景色 */
#ypro_wrapper {
	.ypro_form {
		.box_form_price {
			table {
				tfoot {
					.price_total {
						td {
							background: #def6ff;
						}
					}
				}
			}
		}
	}
}

/* -----------------------------------------------------------
	予約フォーム　サブ画面（完了画面、エラー画面、ログイン画面等）
	.ypro_form_sub
----------------------------------------------------------- */
/* サブ画面の見出し */
#ypro_wrapper {
	.ypro_st_form_sub {
		color: #fff;
		background: #4c7291;
	}
}

/* サブ画面の囲い枠 */
#ypro_wrapper {
	.ypro_form_sub {
		width: 75%;
		border: 2px solid #4c7291;
	}
}

/* ====================================
	クチコミ一覧
	.ypro_voice_list
==================================== */
/* 宿泊者コメント */
#ypro_wrapper {
	.ypro_voice_list {
		.ypro_voice {
			.box_voice {
				background: #def6ff;
			}
		}
	}
}

/* 施設コメント */
#ypro_wrapper {
	.ypro_voice_list {
		.ypro_voice {
			.box_reply {
				background: #e9e9e9;
			}
		}
	}
}

/* ====================================
	マイページ
	asp/member/
==================================== */
/* マイページ　gnav */
#ypro_wrapper {
	.ypro_form_mypage {
		.box_form_mypage_gnav {
			padding: 0 20px;
			margin-bottom: 30px;
			.gnav_mp {
				li {
					a {
						&:hover {
							border-bottom: 3px solid #4c7291;
						}
						&.active {
							border-bottom: 3px solid #4c7291;
						}
					}
				}
			}
		}
	}
}
