@charset "utf-8";
/* ===================================================================
CSS information

file name  : _settings.scss
author     : Abilive
style info : 汎用設定
=================================================================== */
@import "compass";
$experimental-support-for-svg: true;

//----------------------------------------------//
//  Media Queries								//
//----------------------------------------------//
$bp_tab: 1199px; //tab
$bp_sp: 767px; //sp

@mixin mq($device, $val: null, $val2: null) {
	@if $device == pc {
		//pc
		@media only screen and (min-width: $bp_tab + 1) {
			@content;
		}
		@media print {
			@content;
		}
	} @else if $device == pc_s {
		//pc_s
		@media only screen and (min-width: $bp_tab + 1) and (max-width: ($bp_tab + 1) + (1920 - ($bp_tab + 1)) / 2) {
			@content;
		}
	} @else if $device == pc_l {
		//pc_l
		@media only screen and (min-width: ($bp_tab + 1) + (1920 - ($bp_tab + 1)) / 2 + 1) {
			@content;
		}
		@media print {
			@content;
		}
	} @else if $device == tab {
		//tab
		@media only screen and (min-width: $bp_sp + 1) and (max-width: $bp_tab) {
			@content;
		}
	} @else if $device == tab_l {
		//tab_l
		@media only screen and (min-width: ($bp_tab - $bp_sp) / 2 + $bp_sp + 1) and (max-width: $bp_tab) {
			@content;
		}
	} @else if $device == tab_s {
		//tab_s
		@media only screen and (min-width: $bp_sp + 1) and (max-width: ($bp_tab - $bp_sp) / 2 + $bp_sp) {
			@content;
		}
	} @else if $device == sp {
		//sp
		@media only screen and (max-width: $bp_sp) {
			@content;
		}
	} @else if $device == sp_l {
		//sp_l
		@media only screen and (min-width: ($bp_sp - 320) / 2 + 320 + 1) and (max-width: $bp_sp) {
			@content;
		}
	} @else if $device == sp_s {
		//sp_s
		@media only screen and (max-width: ($bp_sp - 320) / 2 + 320) {
			@content;
		}
	} @else if $device == pc_tab {
		//pc & tab
		@media only screen and (min-width: $bp_sp + 1) {
			@content;
		}
	} @else if $device == tab_sp {
		//tab & sp
		@media only screen and (max-width: $bp_tab) {
			@content;
		}
	} @else if $device == min_w {
		//max-width
		@media only screen and (min-width: $val) {
			@content;
		}
	} @else if $device == max_w {
		//min-width
		@media only screen and (max-width: $val) {
			@content;
		}
	} @else if $device == min_max_w {
		//min-width ~ max-width
		@media only screen and (min-width: $val) and (max-width: $val2) {
			@content;
		}
	} @else if $device == min_h {
		//max-height
		@media only screen and (min-height: $val) {
			@content;
		}
	} @else if $device == max_h {
		//min-height
		@media only screen and (max-height: $val) {
			@content;
		}
	} @else if $device == min_max_h {
		//min-height ~ max-height
		@media only screen and (min-height: $val) and (max-height: $val2) {
			@content;
		}
	}
}

//----------------------------------------------//
//  Variable									//
//----------------------------------------------//
// メインカラム
$columnWidth: 1400;

// フォントのベースサイズ
$baseSize: 14;

//スマホのフォントベースサイズ
$baseSizeSp: 13;

// フォントのベーカラー
$baseColor: #000;

// カラー
$c1: #c85a38; //施設カラー（基本カラー）

$color0: #000000; // 本文、ボタン、フォーム入力
$color1: #9f8e54; // 予約カラー
$color2: #8C8C8C; // キャプション、テキスト代替色、フォーム外枠
$color3: #C5C5C5; // 線、プレースホルダー、目立たないテキスト
$color4: #EBEBEB; // 背景色

// 使用頻度（低）
$color5: #1AB759; // アラート（成功）
$color6: #E89806; // アラート（警告）
$color7: #CD2B2B; // 通知・アラート（エラー）
$color8: #939DA4; // シルバーランクに関する用途
$color9: #AE6938; // ブロンズランクに関する用途
$color10: #0b3152; // 濃いめの背景色

// 各ブランド色
$c-fre: #005e67; // フレッサイン
$c-sun: #af1b52; // サンルート
$c-poc: #be9b13; // ザ・DEMOホテル
$c-spl: #000000; // スプラジール

//----------------------------------------------//
//  Function									//
//----------------------------------------------//
// %計算
@function wCon($width, $parentWidth: $columnWidth) {
	@return $width / $parentWidth * 100%;
}

// Em計算
// $value: px
@function cEm($value,$baseSize: 1.6) {
	@return ($value / $baseSize) * 1em;
}


// %計算
@function cPercent($child, $parent: 1920) {
	@return $child / $parent * 100%;
}

// 比の計算
// $ratio1 : $ratio2 = $ratio3 = X
@function cRatio($ratio3, $ratio1, $ratio2) {
	@return ($ratio3 * $ratio2) / $ratio1;
}


//----------------------------------------------//
//  Placeholder									//
//----------------------------------------------//

// コンテンツ幅 - baceWidth
%bw {
	width: 90%;
	max-width: $columnWidth + px;
	margin: auto;
}
%bw_l {
	width: 90%;
	margin: auto;
	@include mq(pc) {
		padding: 0 50px;
	}
}

// クリアフィックス - clearFix
%cf {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

//----------------------------------------------//
// *easeing                                     //
//----------------------------------------------//
$easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easeOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1);
$easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$easeInOutExpo: cubic-bezier(1, 0, 0, 1);
$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);

//----------------------------------------------//
//  mixin										//
//----------------------------------------------//

// フォントサイズ
// @include fsz(任意のサイズ,親要素のサイズ); ※px不要
@mixin fsz($size: $baseSize, $parent: null) {
	$i: $size * (100 / $baseSize);

	@if $parent == null {
		font-size: ceil($i * 1%);
	} @else {
		font-size: ceil(100% * ($size / $parent));
	}
}
//フォントサイズ設定
@mixin fsz-cha($pc_fsz: 30, $tab_fsz: 30, $sp_fsz: 17) {
	@include fsz($pc_fsz);
	@include mq(tab) {
		@include fsz($tab_fsz);
	}
	@include mq(sp) {
		@include fsz($sp_fsz);
	}
}

// 値を振り分け - choiceValue
// @include cV(プロパティ,pc幅,tab~sp幅); or @include cV(プロパティ,pc幅,tab幅,sp幅);
@mixin cV($pro, $v1: 0, $v2: 0, $v3: null) {
	#{$pro}: $v1;
	@if $v3 == null {
		@include mq(sp) {
			#{$pro}: $v2;
		}
	} @else {
		@include mq(tab) {
			#{$pro}: $v2;
		}
		@include mq(sp) {
			#{$pro}: $v3;
		}
	}
}

// ホバー
// @include hover {
//		style
// }
@mixin hover() {
	.mouse &:hover,
	.touch &.touchstart {
		@content;
	}
	.touch & {
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		&.touchend {
			@include transition-delay(200ms);
		}
	}
}

// 画像を拡大
// @include zoomImg(拡大率,x軸基点);
@mixin zoomImg($mag: 140%, $cri: center) {
	overflow: hidden;
	img {
		position: relative;
		width: $mag;
		max-width: none;
		@if $cri == center {
			margin-left: -($mag - 100) / 2;
		}
		@if $cri == right {
			margin-left: -($mag - 100);
		}
	}
}

// リンクの下線を逆にする
// @include reverseDecoration;
@mixin reverseDecoration {
	text-decoration: none !important;
	@include hover {
		text-decoration: underline !important;
	}
}

// 縦方向のグラデーション(IE8対応)
// @include gradient(上側のカラー,下側のカラー);
@mixin gradient($c1: #000, $c2: #fff) {
	@include background(linear-gradient($c1, $c2));
	@include filter-gradient($c1, $c2);
}

@mixin over {
	.mouse & {
		@include transition(opacity 0.3s ease-in);
	}
	@include hover {
		@include opacity(0.7);
	}
}

// テキスト省略
@mixin text_abr($line: "2", $line-height: "1.5") {
	@if $line == "1" {
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	} @else {
		overflow: hidden;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: $line;
		line-height: $line-height;
		.firefox &,
		.ie & {
			max-height: $line * $line-height * 1em;
		}
	}
}

// フォント
$serif_en: linotype-didot, serif;

// // localのみ
// @font-face {
// 	font-family: 'serif_jp';
// 	src:
// 		url('../fonts/A-OTF-A1MinchoStd-Bold.eot'),
// 		url('../fonts/A-OTF-A1MinchoStd-Bold.otf') format('truetype');
// 	font-weight: normal;
// 	font-style: normal;
// 	font-display: block;
// }
@mixin gothic($type: "jp") {
	@if $type == "jp" {
		.lang_jp & {font-family: 'Noto Sans JP',"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", sans-serif;}
		.lang_en & {font-family: 'SF Pro Text',  Verdana, Helvetica, Arial, sans-serif;}
		.lang_cn & {font-family: 'Noto Sans SC', Verdana, Arial, sans-serif;}
		.lang_tw & {font-family: 'Noto Sans TC', Verdana, Arial, sans-serif;}
		.lang_ko & {font-family: 'Noto Sans KR', Verdana, Arial, sans-serif;}
	}@else if $type == en {
		.lang_jp & {
			font-family: 'Roboto', sans-serif;
			font-weight: 300;
		}
		.lang_en & {font-family: 'SF Pro Text', Verdana, Helvetica, Arial, sans-serif;}
		.lang_cn & {font-family: 'SF Pro Text', 'Noto Sans SC', Verdana, Helvetica, Arial, sans-serif;}
		.lang_tw & {font-family: 'SF Pro Text', 'Noto Sans TC', Verdana, Helvetica, Arial, sans-serif;}
		.lang_ko & {font-family: 'SF Pro Text', 'Noto Sans KR', Verdana, Helvetica, Arial, sans-serif;}
	}
}
@mixin serif($type: "jp") {
	@if $type == "jp" {
		.lang_jp & {font-family: "游明朝", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "Times New Roman", Garamond, Georgia, serif, "Hiragino Sans", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro";}
		.lang_en & {font-family: $serif_en, "Times New Roman", Garamond, Georgia, serif;}
		.lang_cn & {font-family: 'Noto Serif SC', "Times New Roman", Garamond, Georgia, serif;}
		.lang_tw & {font-family: 'Noto Serif TC', "Times New Roman", Garamond, Georgia, serif;}
		.lang_ko & {font-family: 'Noto Serif KR', "Times New Roman", Garamond, Georgia, serif;}
	 } @else if $type == en {
		.lang_jp & {font-family: "Times New Roman", Garamond, Georgia, serif, "Hiragino Sans", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro";}
		.lang_en & {font-family: $serif_en, "Times New Roman", Garamond, Georgia, serif;}
		.lang_cn & {font-family: $serif_en, 'Noto Serif SC', "Times New Roman", "Times New Roman", Garamond, Georgia, serif;}
		.lang_tw & {font-family: $serif_en, 'Noto Serif TC', "Times New Roman", "Times New Roman", Garamond, Georgia, serif;}
		.lang_ko & {font-family: $serif_en, 'Noto Serif KR', "Times New Roman", "Times New Roman", Garamond, Georgia, serif;}
	}
}

//縦書き
// $pos = default 解除
@mixin vertical($pos: "") {
	writing-mode: tb-rl;
	writing-mode: vertical-rl;
	-moz-writing-mode: vertical-rl;
	-o-writing-mode: vertical-rl;
	-webkit-writing-mode: vertical-rl;
	-webkit-text-orientation: upright;
	-moz-text-orientation: upright;
	-ms-text-orientation: upright;
	text-orientation: upright;
	text-align: left;
	display: inline-block;
	font-feature-settings: normal;
	@if $pos == "default" {
		writing-mode: lr-tb;
		writing-mode: horizontal-tb;
		-moz-writing-mode: horizontal-tb;
		-o-writing-mode: horizontal-tb;
		-webkit-writing-mode: horizontal-tb;
		-webkit-text-orientation: inherit;
		-moz-text-orientation: inherit;
		-ms-text-orientation: inherit;
		text-orientation: inherit;
	}
}


$バツ: '\e90a';
$バツ2: '\e900';
$言語: '\e903';
$インスタグラム: '\e909';
$フェイスブック: '\e93a';
$ツイッター: '\e939';
$ライン: '\e90d';
$ユーチューブ: '\e93c';
$外部リンク: '\f08e';
$電話: '\f095';
$電話2: '\e921';
$ファイル: '\f0f6';
$PDF: '\f1c2';
$メニュー: '\e904';
$メニュー2: '\e920';
$メニュー3: '\e908';
$かばん: '\e90b';
$カレンダー: '\e90c';
$下矢印: '\e90f';
$左矢印: '\e910';
$右矢印: '\e911';
$上矢印: '\e912';
$ピン: '\e91f';
$プラス: '\e935';
$マイナス: '\e934';
$ユーザー: '\e907';
$ホーム: '\e91a';
$検索: '\e929';
$再生: '\e922';


@mixin icon($content:'\e9e91111', $Pseudo:'before') {
	@if $Pseudo == 'after' {
		&:after {
			font-family: 'icomoon' !important;
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			content: "#{$content}";
			display: inline-block;
			margin-left: .5em;
			@content;
		}
	}@else {
		&:before {
			font-family: 'icomoon' !important;
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			content: "#{$content}";
			display: inline-block;
			margin-right: .5em;
			@content;
		}
	}
}

// slick css
@mixin slick() {
	div {outline: none;}
	.slick-slider {
		position: relative;
		display: block;
		box-sizing: border-box;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-ms-touch-action: pan-y;
		touch-action: pan-y;
		-webkit-tap-highlight-color: transparent;
		* {
			outline: none;
		}
	}
	.slick-list {
		position: relative;
		overflow: hidden;
		display: block;
		margin: 0;
		padding: 0;
		&:focus {
			outline: none;
		}
		&.dragging {
			cursor: pointer;
			cursor: hand;
		}
	}
	.slick-slider .slick-track,.slick-slider .slick-list {
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.slick-track {
		position: relative;
		left: 0;
		top: 0;
		display: block;
		margin-left: auto;
		margin-right: auto;
		&:before,
		&:after {
			content: "";
			display: table;
		}
		&:after {clear: both;}
		.slick-loading & {
			visibility: hidden;
		}
	}
	.slick-slide {
		float: left;
		height: 100%;
		min-height: 1px;
		[dir="rtl"] & {
			float: right;
		}
		img {
			display: block;
		}
		&.slick-loading img {
			display: none;
		}
		display: none;
		&.dragging img {
			pointer-events: none;
		}
		.slick-initialized & {
			display: block;
		}
		.slick-loading & {
			visibility: hidden;
		}
		.slick-vertical & {
			display: block;
			height: auto;
			border: 1px solid transparent;
		}
	}
	.slick-arrow.slick-hidden {
		display: none;
	}
}

@mixin reset() {
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-sizing: border-box;
	&::-ms-expand {
	    display: none;
	}
}

//----------------------------------------------//
// フォントサイズ
//----------------------------------------------//
%jp_h1 {
	@include fsz-cha(36,33,30);
	line-height: 1.4;
	letter-spacing: cEm(140,1000);
}
%jp_h2 {
	@include fsz-cha(28,26,24);
	line-height: 1.4;
	letter-spacing: 0;
}
%jp_h3 {
	@include fsz-cha(18,17,16);
	line-height: 1.4;
	letter-spacing: cEm(40,1000);
}
%jp_st {
	@include fsz-cha(18,17,16);
	line-height: 1.4;
	letter-spacing: cEm(40,1000);
}
%jp_b1 {
	@include fsz-cha(15,15,14);
	@include cV(line-height,1.6,1.6,1.5);
	letter-spacing: 0;
}
%jp_b2 {
	@include fsz(14);
	@include cV(line-height,1.9,1.8,1.6);
	letter-spacing: 0;
}
%jp_capb {
	@include fsz(12);
	@include gothic();
	font-weight: bold;
	@include cV(line-height,1.9,1.8,1.7);
	letter-spacing: .03em;
}
%jp_cap {
	@include fsz(12);
	@include gothic();
	@include cV(line-height,1.9,1.8,1.7);
	letter-spacing: .03em;
}
%jp_btn {
	@include fsz-cha(15,15,14);
	@include gothic();
	letter-spacing: .03em;
	font-weight: bold;
	line-height: 1;
}

// en
%en_h1 {
	@include gothic(en);
	@include fsz-cha(42,38,34);
	line-height: 1.3;
	letter-spacing: .03em;
}
%en_h2 {
	@include gothic(en);
	@include fsz-cha(52,49,36);
	line-height: 1.3;
	letter-spacing: .02em;
}
%en_h3 {
	@include gothic(en);
	@include fsz-cha(22,20,18);
	line-height: 1.3;
	letter-spacing: .03em;
}
%en_st {
	@include gothic(en);
	@include fsz-cha(19,18,17);
	line-height: 1.3;
	letter-spacing: .03em;
}
%en_b1 {
	@include gothic(en);
	@include fsz-cha(17,16,16);
	@include cV(line-height,1.7,1.6,1.5);
	letter-spacing: .03em;
}
%en_b2 {
	@include gothic(en);
	@include fsz(15);
	@include cV(line-height,1.7,1.6,1.5);
	letter-spacing: .03em;
}
%en_capb {
	@include gothic(en);
	@include fsz(12);
	font-weight: bold;
	@include cV(line-height,1.8,1.7,1.6);
	letter-spacing: .04em;
}
%en_cap {
	@include gothic(en);
	@include fsz(12);
	@include cV(line-height,1.8,1.7,1.6);
	letter-spacing: .04em;
}
%en_btn {
	@include fsz-cha(14,14,13);
	@include gothic(en);
	font-weight: bold;
	line-height: 1;
	letter-spacing: .05em;
}