@charset "utf-8";
/* ===================================================================
CSS information

file name	: common.css
author		 : Abilive
style info : 基本・共通設定
=================================================================== */
@import "settings";

//----------------------------------------------//
// 基本設定、リンクカラーなど
//----------------------------------------------//
html,article,aside,audio,blockquote,body,dd,dialog,div,dl,dt,fieldset,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,input,li,mark,menu,nav,ol,p,pre,section,td,textarea,th,time,ul,video,main{margin:0;padding:0;word-wrap:break-word;overflow-wrap:break-word}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;word-wrap:break-word;overflow-wrap:break-word}table{border-collapse:collapse;border-spacing:0}caption,th{text-align:left}q:after,q:before{content:""}embed,object{vertical-align:top}hr,legend{display:none}h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%}abbr,acronym,fieldset,img{border:0;vertical-align:top}li{list-style-type:none}sup{vertical-align:super;font-size:0.5em}img{vertical-align:top}i{font-style:normal}svg{vertical-align:middle}article,aside,dialog,figure,footer,header,hgroup,nav,section,main{display:block}nav,ul{list-style:none}
html {
	font-size: small;
	line-height: 1.5;
}
body {
	color: $baseColor;
	background: #fff;
	-webkit-text-size-adjust: none;
	@include fsz($baseSize, 13);
	.ie & {
		@include fsz($baseSize, 13.4);
	}
	@include mq(sp) {
		@include fsz($baseSizeSp - 1, 13);
	}
	a {
		color: $baseColor;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
	img {
		max-width: 100%;
		-webkit-touch-callout: none;
		line-height: 1;
	}
	* {
		box-sizing: border-box;
	}
}
body,
pre,
input,
textarea,
select {
	@include serif();
}


//----------------------------------------------//
// .mouseOver
//----------------------------------------------//
.over {
	transition: opacity 400ms ease;
	&:hover {
		opacity: .7;
	}
}

//----------------------------------------------//
// #header
//----------------------------------------------//
#original_header {
	font-family: 'Noto Serif JP', "游明朝", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "Times New Roman", Times, Garamond, Georgia, serif;
	min-width: 1200px;
	* {
		box-sizing: border-box;
	}
	.original_con_header {
		padding: 14px 20px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		.original_logo {
			width: auto;
			a {
				display: block;
				text-align: center;
				text-decoration: none;
				span {
					display: inline-block;
					vertical-align: middle;
				}
				span {
					width: 100%;
					max-width: 350px;
				}
				img {
					display: block;
					margin: 0 auto;
				}
			}
		}
		.original_box_nav {
			margin-right: 1em;
			ul {
				display: flex;
				flex-direction: row;
				align-items: center;
				li {
					margin-left: 40px;
					a {
						display: block;
						text-decoration: none;
						position: relative;
						text-align: center;
						color: #000;
						@include fsz(16);
						&:hover {
							&:after {width: 100%;}
						}
						&:after {
							content: '';
							width: 0;
							height: 2px;
							background: #000;
							display: block;
							position: absolute;
							bottom: -.3em;
							left: 0;
							right: 0;
							margin: 0 auto;
							transition: width 400ms ease;
						}
					}
					&.tel {
						span {
							letter-spacing: .08em;
							@include fsz(16);
							color: $color2;
						}
					}
				}
			}
		}
	}
}

//----------------------------------------------//
// #contents
//----------------------------------------------//
#original_contents {
	font-family: 'Noto Serif JP', "游明朝", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "Times New Roman", Times, Garamond, Georgia, serif;
	min-width: 1200px;
	* {
		box-sizing: border-box;
	}
	.con_title {
		position: relative;
		overflow: hidden;
		max-width: 1920px;
		margin: 0 auto;
		img {
			max-width: inherit;
			position: relative;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	.original_topicpath {
		width: 95%;
		max-width: 1200px;
		margin: 1.5em auto 0;
		li {
			@include fsz(14);
			line-height: 1.9;
			letter-spacing: 0;
			display: inline-block;
			vertical-align: middle;
			margin-right: .5em;
			letter-spacing: .05em;
			&:first-child {
				a {
					&:hover {text-decoration: none;}
					img {
						width: 14px;
						vertical-align: baseline;
					}
				}
				&:after {
					vertical-align: -.3em;
				}
			}
			&:not(:last-child) {
				position: relative;
				z-index: 1;
				&:after {
					display: inline-block;
					vertical-align: .2em;
					content: '';
					width: .35em;
					height: .35em;
					border: 1px solid;
					border-color:  #8c8c8c #8c8c8c transparent transparent;
					transform: rotate(45deg);
				}
			}
			a {
				color: #000;
				text-decoration: none;
				&:hover {text-decoration: underline;}
			}
		}
	}
}

//----------------------------------------------//
// #footer
//----------------------------------------------//
#original_footer {
	font-family: 'Noto Serif JP', "游明朝", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "Times New Roman", Times, Garamond, Georgia, serif;
	background: #eaeaec;
	margin-top:wCon(80,1920);
	padding:wCon(70,1920) 0;
	text-align: center;
	min-width: 1200px;
	* {
		box-sizing: border-box;
	}
	.original_st {
		display: inline-block;
		a {
			text-decoration: none;
			text-align: center;
			margin: 0 auto;
			img {
				max-width: 50%;
				margin: 0 auto;
			}
		}
	}
	.original_wrp_lnk {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 90%;
		margin: wCon(50,1920) auto 0;
		li {
			padding: .3em 1em .4em;
			&:first-child {padding-left: 0;}
			&:last-child {padding-right: 0;}
			&:not(:last-child) {border-right: 1px solid #c5c5c5;}
			a {
				color: #000;
				display: block;
				text-decoration: none;
				@include fsz(14);
				letter-spacing: 0;
				line-height: 1;
				transition: transform 400ms ease;
				position: relative;
				&:after {
					content: '';
					width: 0;
					left: 0;
					right: 0;
					margin: 0 auto;
					position: absolute;
					bottom: -.5em;
					height: 1px;
					background: $baseColor;
					transition: width 400ms ease;
				}
				&:hover {
					&:after {width: 100%;}
				}
			}
		}
	}
}
