@charset "utf-8";
/* ===================================================================
CSS information

file name  : copy.css
author     : Abilive
style info : コピー
=================================================================== */
@import "settings";

// -----------------------------------------------------------
//  con_xxx
// -----------------------------------------------------------
.con_xxx {
}
